<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> App Colombia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <img
      src="assets/co.svg"
      alt="Bandera de Colombia"
      width="200"
      style="display: block; margin: 0 auto"
    />
    <h1 style="font-size: 2.5em; margin-bottom: 20px">
      ¡Bienvenido a nuestra aplicación!
    </h1>
    <p style="font-size: 1.2em; margin-bottom: 40px">
      Encuentra toda la información de Colombia en un solo lugar, desde la
      constitución política hasta la historia de nuestro país, todo en un solo
      lugar.
    </p>
    <ion-button
      expand="block"
      color="primary"
      size="large"
      shape="round"
      routerLink="/content/political-constitution"
    >
      Ir a la constitución
      <ion-icon slot="start" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>
