<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fixed-slot-placement="before">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <section class="header">
      <div class="brand">
        <img src="assets/co.svg" alt="Colombia" height="30" />
        <h1>App Colombia</h1>
      </div>

      <ion-searchbar
        placeholder="Buscar en la app"
        class="custom"
      ></ion-searchbar>
    </section>
    <ion-list>
      <ion-title>Menu</ion-title>
      @for (item of menuItems(); track $index) {
      <ion-item button detail [routerLink]="item.url">
        <ion-thumbnail slot="start">
          <img [alt]="item.title" [src]="item.banner" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.title }}</h2>
          <p>{{ item.description }}</p>
        </ion-label>
      </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
