<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ generalInfo().name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <main>
    <img src="assets/co.svg" alt="Bandera de Colombia" />
    <h1>{{ generalInfo().name }}</h1>
    <p>{{ generalInfo().description }}</p>
  </main>
</ion-content>
